# Data artifacts
/data/raw/
/data/interim/
/data/processed/

# Models and checkpoints
/models/

# Reports generated content
/reports/figures/
/reports/tables/

# Notebooks checkpoints
notebooks/.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]
